<li>

    <form
            action="{% url 'search' %}"
            class="navbar-form navbar-right ac-inline-block"
            role="search">

        <div class="form-group">

            <input
                    name="q"
                    id="q"
                    type="text"
                    class="form-control ac-inline-block ac-search-text"
                    placeholder="Search">

            <button
                    type="submit"
                    class="btn btn-default ac-inline-block">
                <span class="glyphicon glyphicon-search"></span>
            </button>

        </div>

    </form>
</li>
